html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
    
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
body {

    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d2323;
}

main {
    padding: 20px;
    overflow: auto;
}

header {
    display: inline;
}
h1  {
    font-family: 'Staatliches', cursive;
}
h2 {
    color: black;
}

h3 {
    color: black;
}
p {
    font-family: 'Fugaz One', cursive;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #f6d743;
}


nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    font-family: 'Fugaz One', cursive;
}


nav {
    background-color:black;
    padding: 5px;
}

.catalog {       
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
padding : 70px;
background-color: #060608;
}

.catalog h1 {
    margin-top: -70px;
color: #f6d743;
text-align:center;
vertical-align: top;
    
}


.content {
    float: left;
    height: 50%;
    width: 75%;
    margin: 5px;
}

@media screen and (max-width: 1000px) {

    .content,
    aside,
    .jumbo   {
        width: 100%;
    }
}

nav {
    background-color : black;
    padding: 7px;
    position: sticky;
    top: 0;
}


.jumbo {
    padding: 220px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    text-align: justify;
    color: #f6d743;

}

.jumbo h1 {
    margin-left: -100px;
    font-size: 90px;
}
.jumbo p {
    margin-top: -20px;
    margin-left: -80px;
    font-size: 20px;
}

footer {
    padding: 20px;
    color:#f6d743;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    display: -webkit-inline-flex;
}

